[class*='ktl-header-module_border'] {
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.3);
  border-bottom: none !important;
}

[class*='ktl-header-module_header-menu'] {
  background: #27282c !important;
}
