.why-kotlin-section {
  background-color: #fff;
  padding-top: 96px;
}
.why-kotlin-section > .kto-layout-container > h2:first-child {
  margin-top: 24px;
  margin-bottom: 24px;
}
.why-kotlin-section__youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.why-kotlin-section__youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.why-kotlin-section__image {
  max-width: 650px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
