.header-section {
  background-color: transparent;
  padding-top: 96px;

  &__actions {
    margin-top: 32px;
    display: flex;
    gap: 16px;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__why-btn {
    margin-left: 16px;
  }

  &__contributors {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__get-started-btn {
    --rs-color-primary-light-theme: #4ca6ff !important;
    --rs-color-primary-dark-theme: #4ca6ff !important;
    --rs-color-primary-t-dim-light-theme: rgba(76, 166, 255, 0.8) !important;
    --rs-color-primary-t-dim-dark-theme: rgba(76, 166, 255, 0.8) !important;
    --_rs-color-primary: #4ca6ff !important;
    --_rs-color-primary-t-dim: rgba(76, 166, 255, 0.8) !important;
    --_rs-button-background: #4ca6ff !important;
    --_rs-button-hover-background: rgba(76, 166, 255, 0.8) !important;
    --_rs-button-active-background: #4ca6ff !important;
    background-color: #4ca6ff !important;
  }
  &__get-started-btn:hover {
    background-color: rgba(76, 166, 255, 0.8) !important;
  }
}
